html {
  background-color: orange;

  .parallax {
    margin: 2.5rem 2rem;
  
    background-image: url("https://source.unsplash.com/random/800x800");
    
    /* Set a specific height */
    height: 600px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
}

.navigation {
  color: red;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: center;
  text-justify: inter-word;

  a:link {
    color: red;
  }

  a:visited {
    color: coral;
  }

  a:hover {
    color: crimson;
  }

  a:active {
    color: gold;
  } 
}

.header {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center; 
}

.subheader { 
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 0px 20px 0px -10px #333, 0px -20px 0px -10px #333, 20px 0px 0px -10px orange, -20px 0px 0px -10px orange, 0px 0px 0px 10px orange, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 20px 0px -10px #333, 0px -20px 0px -10px #333, 20px 0px 0px -10px orange, -20px 0px 0px -10px orange, 0px 0px 0px 10px orange, 5px 5px 15px 5px rgba(0,0,0,0);
}

.posts {
  h4 {
    font-family: 'Helvetica Neue', sans-serif;
    color: #222;
    text-align: center;
    text-decoration: underline;
  }
  
  .post {
    background-color: #222;
    color: #eee;
    margin: 3rem 2rem;
    padding: 1rem;

    span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 0.75em;
    }

    h3 {
      margin-left: 3rem;
      font-family: 'Helvetica Neue', sans-serif;
    }

    p {
      margin-left: 3rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }

  }
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

